<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9AI_Cz8XnvgJwYTrFPvFEL9UOXN0D-Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>89777938827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmsm.guiidmetier</string>
	<key>PROJECT_ID</key>
	<string>guiid-metier-9e72a</string>
	<key>STORAGE_BUCKET</key>
	<string>guiid-metier-9e72a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89777938827:ios:b96d3b36a1693c48e40f8e</string>
</dict>
</plist>